# Banco
MYSQL_DATABASE=ninja_br
MYSQL_USER=root
MYSQL_PASSWORD=123321
MYSQL_PORT=3306

# API
API_PORT=8080
SPRING_PROFILES_ACTIVE=prod
SERVER_SERVLET_CONTEXT_PATH=/api

# JWT (OBRIGATÓRIO)
JWT_SECRET=COLE_AQUI_UM_BASE64_FORTE
JWT_ISSUER=ninja-br
JWT_EXP_MINUTES=120

# Agent token salt
MACHINE_TOKEN_SALT=dev-salt-123